## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.swp
*~

## NuGet
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## IDE
.idea/
.vscode/
*.code-workspace

## User-specific
appsettings.Development.json

## OS
.DS_Store
Thumbs.db
